<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ahmox.com.qrkodeyazmaveokuma">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/qr"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/qr"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Generator.GeneratorActivity" />
        <activity android:name=".Scanner.QrCamera" />
        <activity android:name=".Scanner.QrCodeText"/>
    </application>

</manifest>